/* desktop grid */
@media only screen and (min-width: 1200px) {
 
    .container{
        top: 0px;
        left:0px;
      min-width:100%;
      height:100vh;
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
            "nav"
            "parent-landing"
            "portfolio-container"
            "footer";}
            
    nav {
      padding-left: 0;
  }
  
  .portfolio-container {
    display: grid;
    background-color: #B46060;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 3%;
    grid-area: portfolio-container;
    grid-template-areas:
      "a b"
      "c d"
      "e f";
  }
  .parent-landing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(0, 1fr);
    grid-area: parent-landing;
    align-items: center;
    justify-content: center;
    ;
    }
    
    .name-type { grid-area: 1 / 1 / 2 / 2; 
      scale: 120%;
      margin: 10%}
    .land-type { grid-area: 1 / 2 / 2 / 3;
      width: 70%;
      margin: 10%}
  
  }
  
  