/* *{
    border: 1px red solid;
} */

/* main */
body {
    font-family: bryant-web, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #1a1a1a;
}

.clickable {
text-decoration:dotted;
 text-decoration-color:#B46060;
}

h3 {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, p {
  color:#FFF4E0;
  font-size: 1.4em;
}


/* desktop nav bar */

/* .hj {
    scale: 10%;
    display: inline-block;
    fill: rgb(255, 0, 0);
    text-align: center;
    padding: 14px 40px;
    margin: auto;
} */

nav {
    position: fixed;
    width: 100%;
    top:0px;
    grid-area: nav;
    z-index: 1;
}


ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #1a1a1a;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: #FFF4E0;
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#1a1a1a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #FFF4E0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #B46060;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


/* social sidebar */
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  left: 94%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  color: white;
}

.twitter {
  color: white;
}

.google {
  color: white;
}

.linkedin {
  color: white;
}

.instagram {
  color: white;
}





/* landing */

.parent-landing {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  ;
  }
  


 
  
      .div1 { grid-area: a;
        scale:60%;}
      .div2 { grid-area: b;
        scale: 60%}
      .div3 { grid-area: c;
        scale: 60%}
      .div4 { grid-area: d; 
        scale: 60%}
      .div5 { grid-area: e;
        scale: 60%}
      .div6 { grid-area: f;
         scale: 60%}
    
    
      nav {
            padding-left: 0;
        }
    
       .portfolio-container {
        margin: 0 auto;
        display: grid;
        grid-area: portfolio-container;
        background-color: #c51111;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-areas:
           "a"
           "b"
           "c"
           "d"
           "e"
           "f";
       }


