/* MEDIA QUERY FOR MOBILE */
@media (max-width:735px){
    nav {
        padding-left: 0;
    }
    .container{
      min-width:100%;
      height:100vh;
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
            "nav"
            "parent-landing"
            "portfolio-container"
            "footer";}

   .image-gallery {
       padding-bottom: 200%;
       grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
       grid-template-areas:
       ".a."
       ".b."
       ".c."
       ".d."
       ".e."
       ".f."
       ;
   }

   .parent-landing {
    
    align-items: center;
    justify-content: center;
    ;
    }
}



/* mobile nav hide */

@media (min-width: 980px){

    .hide-desktop{
    display: none !important;
    }
  
  }
  
    @media (max-width: 980px){
    .hide-mobile{
    display: none !important;
    }
  
  }


  /* mobile nav */

#menu{
    position: fixed;
    right: 2rem;
    top: 2rem;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
    z-index: 1;
  }
  
  .menu-line1{
    width: 100%;
    height: 2px;
    background: white;
    transition: .6s;
  }
  
  .menu-line2{
    width: 80%;
    height: 2px;
    margin-top: .7rem;
    background: white;
    transition: .6s;
  }
  
  .rotate{
    transform: rotateZ(180deg)
  }
  .rotate1{
    background: white;
    transform: rotateZ(45deg);
  }
  .rotate2{
    background: white;
    width: 100%;
    transform:  translate(0,-0.8rem) rotateZ(-45deg);
  }
  .nav-page1{
    position: fixed ;
    top:0 ;
    left: 0;
    background: #1a1a1a;
    width: 60%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translate(0,-100%);
    transition: .5s;
  }
  .nav-page1 span{
    padding: 1rem;
  }
  .nav-page2{
    position: fixed;
    top:0 ;
    left: 60%;
    background: #1a1a1a;
    width: 40%;
    height: 70vh;
    transition: .8s;
    transform: translate(0,-100%);
  }
  
  .transform{
    transform: translate(0,0);
  }